<!doctype <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../styles/about.css" />
        <script src="main.js"></script>
    </head>
        <body>
        <!--==========NAV============-->
        <nav id="main-nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
      
            <li><a href="about.html">About<span class="arrow">&#x25BC;</span></a>
                <ul class="submenu">
                    <li><a href="about.html">Our History</a></li>
                    <li><a href="#">Our Team</a></li>
                </ul>
            </li>
            <li><a href="cupcake_gallery.html">Cupcakes<span class="arrow">&#x25BC;</span></a>
                <ul class="submenu">
                    <li><a href="cupcake_gallery.html">Flavors</a></li>
                    <li><a href="specials.html">Monthly Specials</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html">Sign Up</a></li> 
        </ul>
        </nav>
  <!--==============SECTION============-->
  <section>

<h1>About Us</h1>
<h2>Who We Are</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letras
    </p>
<table>
  <caption id="caption"> Our Acknowledgements</caption>
  <tr>
    <th>Year</th>
    <th>Award</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>2001</td>
    <td>Lorem</td>
    <td>Lorem Ipsom</td>
  </tr>
  <tr>
    <td>2000</td>
    <td>Lorem</td>
    <td>blah</td>
  </tr>
    <tr>
    <td>1999</td>
    <td>Lorem</td>
    <td>blah</td>
  </tr>
    <tr>
    <td>1998</td>
    <td>Lorem</td>
    <td>blah</td>
  </tr>
</table>
<br>
<div>
    <div class="lines"></div>
	<img class="cookie" src="../images/cupcake.svg"width="60px"height="60px">
</div>
 <!--==============FOOTER==============-->
  <footer>
    <p>Cupcakes Delight, Copyright &copy;2019</p>
  </footer>

  </section>

 <script src="../scripts/about.js"></script>
</body>    
</html>