<!doctype <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../styles/contact.css" />
        <script src="main.js"></script>
    </head>
        <body>
        <!--==========NAV============-->
        <nav id="main-nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
      
            <li><a href="about.html">About<span class="arrow">&#x25BC;</span></a>
                <ul class="submenu">
                    <li><a href="about.html">Our History</a></li>
                    <li><a href="#">Our Team</a></li>
                </ul>
            </li>
            <li><a href="cupcake_gallery.html">Cupcakes<span class="arrow">&#x25BC;</span></a>
                <ul class="submenu">
                    <li><a href="cupcake_gallery.html">Flavors</a></li>
                    <li><a href="specials.html">Monthly Specials</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html">Sign Up</a></li> 
        </ul>
        </nav>
  <!--==============CONTACT SECTION============-->
  <section>
		<form id="contact" method="post" action="#">

            <h2>Contact Us</h2>
            <br>
			<h3>We Would Love To Hear From You</h3>

			
			<fieldset>
			
				<h4>Choose an option</h4>
				<select id="option">
					<option value="feedback">Feedback</option>
					<option value="question">Question</option>
					<option value="other">Other</option>
				</select>
				<br>
	
				<h4>Comments</h4>
				<textarea name="requests" rows="3" cols="30" placeholder="Please type here."></textarea>

			</fieldset>

		
			<input type="submit" value="Submit">

		</form>
  </section>

  <!--==============FOOTER==============-->
  <footer>
    <p>Cupcakes Delight, Copyright &copy;2019</p>
  </footer>
</body>    
</html>