<!doctype <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cupcake Gallery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../styles/gallery.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <!--==========NAV============-->
        <nav id="main-nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
      
            <li><a href="about.html">About<span class="arrow">&#x25BC;</span></a>
                <ul class="submenu">
                    <li><a href="about.html">Our History</a></li>
                    <li><a href="#">Our Team</a></li>
                </ul>
            </li>
            <li><a href="#">Cupcakes<span class="arrow">&#x25BC;</span></a>
                <ul class="submenu">
                    <li><a href="#">Flavors</a></li>
                    <li><a href="specials.html">Monthly Specials</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html">Sign Up</a></li> 
        </ul>
        </nav>
 
  <!--============== GALLERY SECTION============-->
  <section>
        <div class="main">
            <article class="grid-item">
                <h1>Red Velvet</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/redvelvet.jpg" alt="rose"width="200px">
                <button>ADD TO CART</button>
            </article>
            <article class="grid-item">
                <h1>Birthday</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/birthday.jpg" alt="birthday" width="200px">
                <button>ADD TO CART</button>
            </article>
            <article class="grid-item">
                <h1>Decadent Chocolate</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/chocolate.jpg" alt="chocolate" width="200px">
                <button>ADD TO CART</button>
            </article>
            <article class="grid-item">
                <h1>Vanilla</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/vanilla.jpg" alt="vanilla" width="200px">
                <button>ADD TO CART</button>
            </article>
            <article class="grid-item">
                <h1>Rainbow</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/rainbow.jpg" alt="rainbow" width="220px"height="200px">
                <button>ADD TO CART</button>
            </article>
            <article class="grid-item">
                <h1>Reeses Peanut Butter</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/reesepeanutbutter.jpg" alt="reeses" width="200px">
                <button>ADD TO CART</button>
            </article>
                        <article class="grid-item">
                <h1>Minty Chocolate</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/cookiecream.jpg" alt="cookiecream" width="200px">
                <button>ADD TO CART</button>
            </article>
                        <article class="grid-item">
                <h1>Coo Cookies</h1>
                <p>Lorem Ipsum is simply dummy text</p>
                <p><strong>$4</strong></p>
                <img src="../images/cookiedough.jpg" alt="cookie" width="200px">
                <button>ADD TO CART</button>
            </article>
        </div>
 
  </section>
    <!--==============FOOTER==============-->
  <footer>
    <p>Cupcakes Delight, Copyright &copy;2019</p>
  </footer>
 <script src="../scripts/gallery.js"></script>
</body>    
</html>