@charset "ISO-8859-1";
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-nav a {
  color: #9966ff;/*dark purple*/
  background: #fccdd3;/*light pink*/
  height: 25px;
  font-family: sans-serif,Arial, Helvetica;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.4s;
}
#main-nav a:hover {
  background-color: #ffe6ff;/*lighter pink*/
}

#main-nav ul {
  list-style: none;
  display: flex;
}

#main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
}

#main-nav li:hover .submenu > li {
  display: block;
  flex-direction: column;
  top: 0px;
}

.submenu li {
  display: none;
  position: absolute;
  top: 0px;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.submenu li {
  position: relative;
}

.arrow {
  margin-left: 8px;
  color: white;
  font-size: 12px;
}
/*FOOTER*/
footer{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin-top:20px;
    color:#9966ff;/*dark purple*/
    background-color:#fccdd3;/*light pink*/
}
/*GALLERY SECTION*/
section{
    margin:50px 20px 50px 20px;
    min-height: 100%;
} 

.main{
    font-family:sans-serif;
    font-size:80%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-column-gap:20px;
    grid-row-gap:40px;
    grid-template-rows: auto;

}
.grid-item{
    display:flex;
    flex-flow:column;
    border:5px dotted #9966ff;/*dark purple*/
    border-radius:12px;
    padding:10px;
}
.grid-item>img{
    order:-1;
    align-self:center;
}
button{
    margin:10px;
    background:pink;
    height:30px;
    border-radius:12px;
    border:none;
    padding-left:10px;
    padding-right:10px;
    color:purple;
}
article h1, article p{
    text-align: center;
}
button:hover{
    background:#ffe6ff;/*lighter pink*/
}
/**************************/